<p id="notice"><%= notice %></p>

<h1>Resources</h1>

<table style="width: 100%; border-collapse: collapse; table-layout: fixed;">
  <thead>
    <tr>
      <th style="width: 4%;"></th>
      <th style="width: 4%;"></th>
      <th style="width: 5%;"></th>
      <th style="width: 20%;">Title</th>
      <th style="width: 10%;">Category</th>
      <th style="width: 30%;">Description</th>
      <th style="width: 27%;">Url</th>
    </tr>
  </thead>

  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td><%= link_to 'Show', resource %></td>
        <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
        <td><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= resource.title %></td>
        <td><%= resource.category %></td>
        <td style="word-wrap: break-word; white-space: normal;"><%= resource.description %></td>
        <td><%= link_to resource.url, resource.url, target: '_blank' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resource', new_resource_path %>

