<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= link_to @resource.title, @resource.url, target: '_blank' %>
</p>

<p>
  <strong>Description:</strong>
  <%= @resource.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= link_to @resource.url, @resource.url, target: '_blank' %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
